# Directories
.git
.github
.vs
.vscode
**/bin
**/obj
**/out
**/.toolstarget

# Not Boinc Manager Web releated projects
BoincManagerMobile
BoincManagerWindows

# Files
.dockerignore
.env
.gitignore
Dockerfile*
docker-compose.yml
LICENSE
**/*.css
!**/*.min.css
**/*.db
**/*.js
!**/*.min.js
**/*.md