# Directories
.git
.github
.vs
.vscode
**/bin
**/obj
**/out
**/.toolstarget

# Not Boinc Manager Web releated projects
BoincManagerWindows

# Files
.dockerignore
.env
.gitignore
Dockerfile*
docker-compose.yml
LICENSE
**/*.db
**/*.md
