@model string

<form asp-page="./Index" method="get">
    <div class="form-actions no-color">
        <p>
            Filter:
            <input type="text" name="SearchString" value="@Model" id="searchString" />
            <input type="submit" value="Search" class="btn btn-primary btn-sm" />
            <a asp-page="./Index" class="btn btn-danger btn-sm">Clear</a>
        </p>
    </div>
</form>
